@import "template.scss";
@import "typography.scss";
@import "main.scss";
.che-slideshow {
	overflow: hidden;
	position: relative;
	height: 371px;;
	max-width: 1022px;
	margin: 0 auto;
}

.che-slideshow-slide {
	width: 100%;
	top: 0;
	position: absolute;

	
	.che-slideshow-caption {
		z-index: 1;
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		top: 57px;
		background: rgba(255,255,255,0.8);
		height: 179px;
		max-width: 400px;
		padding: 30px 34px 50px 46px;
		margin: 0 auto 0 69px;
		.che-slideshow-caption_h4{
			font-family: $Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
margin-bottom: 17px;
		}
		.che-slideshow-caption_p{
			font-family: $Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 21px;
			color:$active-color;
			margin-bottom: 40px;
		}
		.btn-more {
            border: 2px solid $red;
            padding: 7px 17px;
          }
		@media #{$tablet} {
			font-size: 0.75em;
		}

		@media #{$phone} {
			font-size: 0.6em;
		}
	}

	img {
		width: 100%;
	}

	&.inactive {
		display: none;
	}

	&.position-left {
		top: 0;
		left: -100%;
	}

	&.position-right {
		top: 0;
		right: -100%;
		position: absolute;
	}
}

/* controls */
.slideshow-arrow{
	cursor: pointer;
	&.slideshow-right-arrow{
		transform: rotate(180deg)
	}
}



/* indicators */
.slideshow-indicator-wrapper{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 54px;
	right: 40px;

	.slideshow-control{
		z-index: 1;
	    margin: 0px 46px;
	}
.slideshow-indicator-container {

	z-index: 15;

	@media #{$tablet} {
		top: -10px;
	}

	.slideshow-indicator {
		background-color: #fff;
		border: 1px solid #fff;
		border-radius: 50%;
		display: inline-block;
		height: 2px;
		width: 2px;
		margin: 0 5px;
		&.inactive-indicator {
			background-color: transparent;
		}
	}
}
}