@import "template.scss";

$red: #da251c;
$black: #000000;
$white: #ffffff;
$grey: #dde5e8;
$darkred: #B91E16;
$menu-color: rgba(86, 86, 86, 0.5);
$menu-bottom: #bdbdbd;
$active-color: #565656;
$margin40: 0 40px;
* {
  margin: 0;
  padding: 0;
}



$Roboto: 'robotoregular',sans-serif;
$Montserrat:'montserratregular',sans-serif;
$MontserratMedium:'montserratmedium',sans-serif;
$MontserratBold:'montserratbold',sans-serif;
$Montserratsemibold:'montserratsemibold',sans-serif;
$text-color:#565656;
$h1:#000000;
$h2:#000000;
$h3:#000000;


@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular.eot');
    src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular.woff') format('woff'),
         url('../fonts/roboto-regular.ttf') format('truetype'),
         url('../fonts/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('truetype'),
         url('../fonts/montserrat-regular.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold.eot');
    src: url('../fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold.woff2') format('woff2'),
         url('../fonts/montserrat-bold.woff') format('woff'),
         url('../fonts/montserrat-bold.ttf') format('truetype'),
         url('../fonts/montserrat-bold.svg#montserratbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
 
@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/montserrat-medium-webfont.eot');
    src: url('../fonts/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-medium-webfont.woff') format('woff'),
         url('../fonts/montserrat-medium-webfont.svg#montserratmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat-semibold-webfont.eot');
    src: url('../fonts/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff'),
         url('../fonts/montserrat-semibold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-semibold-webfont.svg#montserratsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1 {

 color: $h1;
 font-family: $Montserrat;
 font-weight: 400;
 font-style: normal;
 font-weight: bold;
 font-style: normal;
font-size: 18px;
line-height: 24px;
}

h2{
font-family: $MontserratBold;
font-weight: 600;
font-style: normal;

font-size: 24px;
line-height: 29px;
text-transform: uppercase;
color: $h2;
letter-spacing: 0.2px;
}

h3{    
font-family: $MontserratMedium;
font-weight: 500;
font-style: normal;

font-size: 24px;
line-height: 32px;
color:$h3;
letter-spacing: 0.2px;
}
a{
    text-decoration: none;
    color: #000000;

}
ul{
    list-style: none;
}
p{
    font-family: $Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
}
@media #{$phone} {
    h1{
        font-size: 16px;
line-height: 134.09%;
    }
    h2{
        font-size: 20px;
line-height: 24px;
    }
}